a {
    text-decoration: none;
    text-underline-position: none;
    color: red;
    cursor: pointer;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    flex-flow: wrap;
    hyphens: auto;
    
}

.logo {
    display: flex;
    justify-content: center;
    font-weight: 505;
    color: red;
    flex-flow: wrap;
}

.annotations {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 5vmax;
    margin-top: -0.5em;
    flex-flow: row wrap;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-image: linear-gradient (90deg, purple, blue, green, yellow, red, purple);
}

/*mouseover text img*/
a.popup {
  text-decoration:none;
    font-weight: 570;
}
a.popup:hover {
  border:none;
}
a.popup img {
  border:none;
}

a.popup span {
  visibility:hidden;
  position:absolute;
  top:20px;
  left:0;
}

a.popup:hover span {
  visibility:visible;
}

.picture {
    width: 500px;
    height: auto;
}

/*buzz effect*/
@-webkit-keyframes hvr-buzz {

  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

}

@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.close-clips {
    position: fixed;
    margin-top: 250px;
    margin-left: 50px;
}

.listStyle {
    
}

li {
    list-style: none;
}
span {
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    //-webkit-column-span: all;
    //column-span: all;
}
.marked {
    color: transparent;
    //background-image: linear-gradient(red 40%, blue 70%);
    //column-span: all;
    
}

.marked:hover {
    color: red;
    //background-image: linear-gradient(red 40%, blue 70%);
    //column-span: all;
    font-weight: 570;
}

.totale-clip {
    position: fixed;
    margin-top: 300px;
    margin-left: 50px;
}

.colorBlack {
    color: black;
}

#explain {
    font-size: 2vmax;
}

.dEins {
    height: 400px;
    width: auto;
}

.markedRaw {
    hyphens: auto;
    color: red;
    text-transform: uppercase;
    font-weight: 570;
}

.explain-text {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2vmax;
    margin-top: -0.5em;
    flex-flow: row wrap;
    hyphens: auto;
}

.spracheButtonDe {
    display: flex;
    justify-content: center;
    font-size: 1vmax;
    padding-right: 10px;
    padding-top: 20px;
    //hyphens: auto;
    position: absolute;
    cursor: pointer;
    z-index: 99;
}

.spracheButtonEn {
    display: flex;
    font-size: 1vmax;
    padding-left: 10px;
    padding-top: 20px;
    //hyphens: auto;
    cursor: pointer;
    z-index: 99;
    position: absolute;
}

.spracheButtonDe span {
    cursor: pointer;
}

.spracheButtonEn span {
    cursor: pointer;
}



.fullVideo {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
    margin-top: 0.5em;
}
